.loginbox {
	background-color: #E6EAED;
	position: absolute;
	height: 100vh;
	width: 100%;
	top: 0;
	// animation: sport 0.5s;
	// transform: translateY(0);
	// @keyframes sport {
	// 	0%   {transform: translateY(200%)}
	// 	100%   {transform: translateY(0%)}
	// }
}
.close{
	width: 40rpx;
	height: 40rpx;
	position: absolute;
	top: 80rpx;
	left: 10%;
}
.log1{
	padding-top: 190rpx;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 80%;
	margin-left: 10%;
	.list{
		position: relative;
		padding-bottom: 10upx;
		.te1{
			font-size: 32upx;
			color: #666666;
		}
		.bot{
			width: 60upx;
			height: 6upx;
			background: red;
			border-radius: 4upx;
			position: absolute;
			bottom: 0;
			left: 50%;
			margin-left: -30upx;
		}
		.on{
			font-size: 44upx;
			color: #333333;
			font-weight: 300;
		}
	}
}
input{
	font-size: 32upx;
}
input .uni-input-input{
	font-size: 32upx;
}
.phone_log{
	width: 80%;
	margin-left: 10%;
	margin-top: 60upx;
	.list1{
		display: flex;
		justify-content: space-between;
		align-items: center;
		border-bottom: 2upx solid $uni-border-color;
		padding: 30upx 0;
		.left{
			display: flex;
			justify-content: space-between;
			align-items: center;
			.img1{
				width: 60rpx;
				height: 40rpx;
			}
			.img2{
				width: 12rpx;
				height: 12rpx;
			}
			text{
				padding: 0 10rpx;
			}
		}
		input{
			width: 68%;
		}
	}
	.list2{
		padding: 30upx 0;
		border-bottom: 2upx solid $uni-border-color;
	}
	.list3{
		display: flex;
		justify-content: space-between;
		align-items: center;
		border-bottom: 2upx solid $uni-border-color;
		padding: 30upx 0;
		.te1{
			width: 2upx;
			height: 40upx;
			background: $uni-border-color;
		}
		.te2{
			font-size: 24upx;
			color: #666666;
		}
	}
}


.log3{
	width: 80%;
	margin-left: 10%;
	margin-top: 120upx;
	.ve1{
		width: 100%;
		background: #79A398;
		text-align: center;
		line-height: 84upx;
		height: 84upx;
		color: #DDDDDD;
		font-size: 36upx;
		border-radius: 42upx;
	}
	.ve2{
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 40upx;
		.te1{
			color: #535759;
			font-size: 32upx;
		}
		.bot{
			width: 2upx;
			height: 32upx;
			background: #535759;
			margin: 0 20upx;
		}
		.te2{
			color: #5B76D4;
			font-size: 32upx;
		}
	}
}


























