html, body, ul, li, ol, dl, dd, dt, p, div, h1, h2, h3, h4, h5, h6, form, img,textarea,a,section, ::before, ::after {
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
    -webkit-box-sizing: border-box;
}
html, body {
    font-family: "Microsoft YaHei", "sans-serif";
    width: 100%;
    height: 100%;
    color: #333;
	background-color: #E6EAED;
	
}
.bigBox{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.bigBox .container{
    flex: 1;
    overflow-y: scroll;
    -webkit-overflow-scrolling : touch;
    overflow-scrolling : touch;
}
.bigBox .container::-webkit-scrollbar {
    width: 0;
    height: 0;
}
a {
    text-decoration: none;
    color: #000;
}

a:hover {
    text-decoration: none;
}

ul, ol ,li {
    list-style: none;
}

input, textarea {
   border: none;
    resize: none;
    outline: none;
    -webkit-appearance: none;
    background: transparent;
    font-size: 28upx;
	margin: 0;
	padding: 0;
}
input::-webkit-input-placeholder{
    color: #bbb;
}
img {
    border: none;
    vertical-align: top;
    max-width:100%;
	pointer-events: none;/* 微信点击图片会预览 */
}

button {
    border: none;
    outline: none;
    background: transparent;
    padding: 0;
    font-size: 28px;
}

cite,i, em, s {
    font-style: normal;
    text-decoration: none;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.pos_a {
    position: absolute;
}

.pos_r {
    position: relative;
}

.pos_f {
    position: fixed;
}

.fixed_top {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 2;
		width: 100%;
		box-sizing:border-box;
}

.fixed_bottom {
    position: fixed;
    left: 0;
    width: 100%;
    bottom: 0;
    z-index: 999;
		box-sizing:border-box;
}

.clearfix::before, .clearfix::after {
    content: ' ';
    display: table;
    height: 0;
    line-height: 0;
    visibility: hidden;
    clear: both;
}

.tac {
    text-align: center;
}

.tas {
    text-align: left;
}

.tae {
    text-align: right;
}

.bd {
    border: 1px solid #e5e5e5;
}

.bdb {
    border-bottom: 1px solid #e5e5e5;
}
.bdb2{
	border-bottom: 1px solid #909397;
}

.bdt {
    border-top: 1px solid #e5e5e5;
}

.bdb-dashed{
	border-bottom:1px dashed #e5e5e5;
}

.bdt-dashed{
	border-top:1px dashed #e5e5e5;
}

.bdl {
    border-left: 1px solid #e5e5e5;
}

.bdr {
    border-right: 1px solid #ccc;
}

.bdn {
    border: none;
}

.dpn {
    display: none;
}

.border-r1 {
    border-radius: 10upx;
    overflow: hidden;
}

.border-r2 {
    border-radius: 20px;
    overflow: hidden;
}

.border-r3 {
    border-radius: 30px;
    overflow: hidden;
}

.border-r4 {
    border-radius: 40px;
    overflow: hidden;
}

.border-r6 {
    border-radius: 60px;
    overflow: hidden;
}
.db {
    display: block;
}
.bsb {
    box-sizing: border-box;
}
.di{
	display: inline;
}

.dib {
    display: inline-block;
}

.tdu {
    text-decoration: underline;
}

.opc5 {
    opacity: 0.5;
}

.opc7 {
    opacity: 0.7;
}

.opc8 {
    opacity: 0.8;
}


.minBtn {
    line-height: 60px;
    padding-left: 24px;
    padding-right: 24px;
    border-radius: 10px;
    min-width: 72px;
    box-sizing: border-box;
		&.border-r6{
			border-radius:60px;
		}
}

.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.ellipsis2 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.shadow {
    box-shadow: 0 0 8px 1px #e5e5e5;
}

.lists .lists_item + .lists_item {
    margin-top: 20px;
}

.table{
	border:1px solid #e5e5e5;
	box-sizing:border-box;
	.tr{
		display:flex;
		& + .tr{
			border-top:1px solid #e5e5e5;
			box-sizing:border-box;
		}
		&.th{
			background:#f2f2f2;
		}
		.td{
			flex:1;
			word-break:break-all;
			padding: 16px 10px;
			& + .td{
				border-left:1px solid #e5e5e5;
				box-sizing:border-box;
			}
		}
	}
}


 
  

